.content {
    width: 85%;
    margin-left: auto;
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background: #F7F9FC;
    min-height: 100vh;
}

.admin-page {
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
}
